$bg-color: #0a192f;
$light-color: #ccd6f6;
$green-color: #64ffda;

.navbar {
  background-color: $bg-color;
  font-family: "Roboto Mono", monospace;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  z-index: 100;

  ul {
    display: flex;

    li {
      font-size: 15px;
      list-style: none;
      padding: 10px 20px;

      .resume-btn {
        background-color: transparent;
        border: $green-color 1px solid;
        border-radius: 5px;
        color: $green-color;
        padding: 8px 16px;

        &:hover {
          background-color: rgb(100, 255, 218, 0.1);
        }
      }

      a {
        color: $light-color;
        text-decoration: none;
      }
    }
  }
}

.toggle-button {
  position: absolute;
  background-color: $bg-color;
  border: none;
  cursor: pointer;
  top: 2.8rem;
  right: 15rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 50px;
  height: 30px;

  span {
    height: 3px;
    background-color: $green-color;
    border-radius: 10px;
  }
  .bar1 {
    width: 100%;
  }
  .bar2 {
    width: 80%;
  }
  .bar3 {
    width: 60%;
  }
}

@media only screen and (max-width: 1450px) {
  .nav-nav {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 850px) {
  .toggle-button {
    display: flex;
    top: 2rem;
    right: 2rem;
  }

  .nav-nav {
    background-color: $bg-color;
    display: none !important;
    flex-direction: column;
    align-items: center;
    padding-top: 18rem;
    padding-bottom: 20px;
    width: 100%;
  }

  .active-nav {
    display: flex !important;
  }
}
