@import "./../Shared.scss";

.navbar {
  background-color: $bg-color;
  display: flex;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  padding: 1.5% 0 1.5%;
  width: 100%;
  position: fixed;
  z-index: 100;

  ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    li {
      font-size: clamp(0.9rem, 1vw, 2rem);
      list-style: none;
      padding-right: 3%;

      a {
        color: $light-color;
        text-decoration: none;

        &:hover {
          color: $green-color;
        }
      }
    }
    .resume-btn {
      background-color: transparent;
      border: $green-color 1px solid;
      border-radius: 5px;
      color: $green-color;
      padding: 1.1vh 1.1vw;
      padding: 8px 17px;

      &:hover {
        background-color: rgb(100, 255, 218, 0.1);
      }
    }
  }
}

.toggle-button {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  top: 2.8rem;
  right: 15rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 2.5rem;
  height: 170%;

  span {
    height: 2px;
    background-color: $green-color;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }
  .bar1 {
    width: 100%;
  }
  .bar1-open {
    // transition: all 0.3s ease-in-out;
    transform: rotateZ(45deg);
    margin-top: 1.25rem;
    background-color: $green-color;
    width: 100%;
  }
  .bar2 {
    width: 80%;
  }
  .bar2-open {
    opacity: 0;
    // transition: all 0.3s ease-in-out;
    width: 100%;
  }
  .bar3 {
    width: 60%;
  }
  .bar3-open {
    // transition: all 0.3s ease-in-out;
    transform: rotateZ(-45deg);
    // margin-bottom: 0rem;
    margin-bottom: 1.35rem;
    background-color: $green-color;
    width: 100%;
  }
}

@media only screen and (max-width: 1450px) {
  .nav-nav {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 850px) {
  .navbar {
    height: 0%;
  }

  .toggle-button {
    display: flex;
    top: 2rem;
    right: 2rem;
  }

  .nav-nav {
    background-color: $bg-color;
    display: none !important;
    flex-direction: column;
    align-items: center;
    padding-top: 40%;
    width: 100%;

    li {
      padding-block: 1.5%;
    }

    .resume-btn {
      border: hidden !important;
      padding: 0;

      &:hover {
        background-color: $bg-color !important;
      }
    }
  }

  .active-nav {
    display: flex !important;
  }
}
