@import "./../Shared.scss";

#about {
  padding: 10% 0 6%;
  margin: 0 auto;
  max-width: 40%;
  min-height: 80vh;

  .heading {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    padding-bottom: 5%;
    h2 {
      color: $light-color;
      font-size: clamp(1rem, 2.2vw, 4rem);
    }

    span {
      border-bottom: 1px solid $light-color;
      opacity: 0.3;
      margin-bottom: 18px;
    }
  }
}

.about-content-container {
  display: grid;
  grid-template-columns: 0.75fr 3fr;
  gap: 2rem;

  .about-tags {
    display: flex;
    flex-direction: column;
    color: $med-color;
    font-size: clamp(0.6rem, 1.1vw, 2.25rem);

    p {
      cursor: pointer;
      border-left: $light-color 2px solid;
      padding: 1rem;

      &:hover {
        background-color: #112240;
        color: $green-color;
      }
    }
    .active {
      border-color: $green-color;
      color: $green-color;
    }
  }

  .about-content {
    transform: opacity 0.5s ease-in-out;
    p {
      color: $med-color;
      font-size: clamp(0.8rem, 1.2vw, 2.5rem);
      line-height: 180%;
      margin-bottom: 2%;
      text-indent: 7%;
    }
  }
}

@media only screen and (max-width: 1200px) {
  #about {
    .heading {
      grid-template-columns: 1fr;

      span {
        display: none;
      }
    }
  }
  .about-content-container {
    gap: 1rem;
  }
}

@media only screen and (max-width: 850px) {
  #about {
    max-width: 85%;
    padding: 10% 0 30%;
  }
}
