$light-color: #ccd6f6;
$lighter-color: #a8b2d1;
$med-color: #8892b0;
$green-color: #64ffda;

#skills {
  padding: 8rem 0;
  margin: 0 auto;
  max-width: 65%;

  h1 {
    color: $light-color;
    padding-bottom: 2.5rem;
    text-align: center;
  }
  .logos {
    color: $green-color;
    display: flex;
    justify-content: center;

    .logo-set1 {
      font-size: 5rem;
      margin: 11rem 4rem;
    }
    .logo-set2 {
      font-size: 4.5rem;
      opacity: 0.75;
      position: absolute;
    }
    .react {
      left: 24rem;
      margin-top: 3rem;
    }
    .node {
      margin: 3rem 0 0 21rem;
    }
    .sass {
      margin-top: 22rem;
    }
    .logo-set3 {
      font-size: 1.4rem;
      opacity: 0.5;
      position: absolute;
    }
    .express {
      margin: 22rem 0 0 38rem;
    }
    .post {
      left: 24rem;
      margin-top: 22rem;
    }
    .es6 {
      margin-top: 1.5rem;
    }
  }
}

@media only screen and (max-width: 850px) {
  #skills {
    max-width: 95%;
  }
  .logos {
    color: $green-color;
    display: flex;
    justify-content: center;

    .logo-set1 {
      font-size: 1rem;
      margin: 0rem;
    }
    .logo-set2 {
      font-size: 0.5rem;
      opacity: 0.75;
      position: relative;
    }
    .react {
      left: 24rem;
      margin-top: 3rem;
    }
    .node {
      margin: 3rem 0 0 21rem;
    }
    .sass {
      margin-top: 22rem;
    }
    .logo-set3 {
      font-size: 1.4rem;
      opacity: 0.5;
      position: relative;
    }
    .express {
      margin: 22rem 0 0 3rem;
    }
    .post {
      left: 24rem;
      margin-top: 22rem;
    }
    .es6 {
      margin-top: 1.5rem;
    }
  }
}
