@import "./../Shared.scss";

#skills {
  padding: 9% 0 35%;
  margin: 0 auto;
  max-width: 65%;

  h1 {
    color: $light-color;
    font-size: clamp(1rem, 2.2vw, 4rem);
    padding-bottom: 10%;
    text-align: center;
  }
  .logos {
    position: relative;
    color: $green-color;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-set1 {
      font-size: 5rem;
      font-size: clamp(2rem, 5.25vw, 10rem);
      position: absolute;
    }
    .html {
      margin: 40% 45% 0 0;
    }
    .css {
      margin: 40% 0 0 0;
    }
    .js {
      margin: 40% 0 0 45%;
    }
    .logo-set2 {
      font-size: clamp(1.5rem, 4.45vw, 8rem);
      opacity: 0.75;
      position: absolute;
    }
    .react {
      margin: 10% 65% 0 0;
    }
    .node {
      margin: 10% 0 0 65%;
    }
    .sass {
      margin-top: 75%;
    }
    .logo-set3 {
      font-size: clamp(0.8rem, 1.5vw, 3rem);
      opacity: 0.75;
      position: absolute;
    }
    .express {
      margin: 70% 0 0 65%;
    }
    .post {
      margin: 70% 65% 0 0;
    }
  }
}

@media only screen and (max-width: 1300px) {
  #skills {
    max-width: 85%;
    padding: 9% 0 45%;
  }
}
