@import "./../Shared.scss";

#main {
  padding: 13.5% 0 8%;
  margin: 0 auto;
  max-width: 65%;

  h1 {
    color: $green-color;
    font-family: "Roboto Mono", monospace;
    font-size: clamp(1rem, 1.1vw, 1.75rem);
    padding-bottom: 3%;
    padding-bottom: clamp(1.25rem, 4%, 4%);
    padding-left: 0.25%;
  }

  h2 {
    color: $light-color;
    font-size: clamp(2rem, 3.9vw, 7rem);
    padding-bottom: clamp(0.75rem, 1%, 1%);
  }

  h3 {
    color: $med-color;
    font-size: clamp(2rem, 3.9vw, 7rem);
    padding-bottom: clamp(2.5rem, 5%, 5%);
  }

  p {
    font-size: clamp(1rem, 1.25vw, 2rem);
    padding-left: 0.25%;

    a {
      border: $green-color 1px solid;
      border-radius: 5px;
      color: $green-color;
      padding: 10px 30px;
      text-decoration: none;

      &:hover {
        background-color: rgb(100, 255, 218, 0.1);
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  #main {
    padding: 50% 0 100%;
    max-width: 85%;
    margin: 0 auto;
  }
}
